@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #ecf0f1;
  background: url('res/pink-dust.png') fixed;
  padding: 0;
  margin: 0;
}

nav h3 {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

h3 {
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

nav h3:nth-child(3) {
  margin-right: 4em;
}

section {
  padding: 2em;
  transition: 1s;
  display: flex;
}

p {
  line-height: 1.5;
}

.section-gone {
  display: none;
}

.nav-current {
  color: #DB0A5B;
}


.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

#one-content {
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 0;
}

#bg-wrap::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.0;
  z-index: -1;
}
#one-content #bg-wrap {
  position: relative;
  /*
  background: url( 'res/bg-one.jpeg' ) no-repeat center center fixed;
  */
  background: url( "res/pink-dust.png" ) fixed;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}


#one-content h1 {
  text-align: center;
  font-size: 3em;
  color: #DB0A5B;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
#one-content #bg-wrap h1 {
  padding-top: 2%;
  font-size: 3.1em;
}
#one-content #bg-wrap h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #ecf0f1;
  font-size: 2em;
}

#one-content #bg-wrap #hero-our-programs {
  align-self: center;
  border: 3px solid rgba( 219,10,91, 1 );
}

#one-content #bg-wrap #hero-our-programs h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  color: white;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

/**
#one-content .home-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  padding: 4em;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #ecf0f1;
}
#one-content .home-item:nth-child(1) {
  align-items: flex-end;
}
#one-content .home-item:nth-child(2) {
  align-items: flex-start;
}
#one-content .home-item h2,h4 {
  text-align: center;
  margin: 0;
}
#one-content .home-item .wrap {
  background-color: rgba(219, 10, 91, 0.4);
  padding: 2em;
  display: flex;
  width: 60%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5%;
}
#one-content .home-item .wrap:hover {
  border: 3px solid #ecf0f1;
  background-color: rgba(219, 10, 91, 0.8);
}
*/

#one-content .row {
  max-width: 1400px;
  width: 100%;
  align-self: center;
  margin-top: 4em;
}
#one-content .home-item {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#one-content .home-item img {
  width: 3em;
  height: 3em;
  margin: 0;
}
.home-item h2,h4 {
  margin: 0;
  padding: 0;
}

.home-item .wrap {
  width: 50%;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  color: #ecf0f1;
  cursor: pointer;
  border: 3px solid rgba(236, 240, 241, 0.0);
  background-color: rgba(219, 10, 91, 0.7);
  transition: 0.2s;
  box-shadow: 0 8px 6px -6px rgba(210,10,91,0.5);
}
#one-content .home-item .wrap:hover {
  box-shadow: 0 10px 12px -3px rgba(210,10,91,0.5);
}
#one-content .home-item .wrap:active {

}

#one-content .home-item:nth-child(1) {
  justify-content: flex-end;
}

#one-content #success-stories {
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 2em;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#one-content #success-stories h1 {
  text-align: left;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 1400px;
  font-size: 2.5em;
}

#one-content #success-stories #story-container {
  max-width: 1400px;
}

#one-content #success-stories #story-container img {
  max-width: 80%;
  max-height: 80%;
  padding: 0;
  margin: 0;
}
#one-content #success-stories #story-container ul {
  list-style: none;
  display: flex;
}
#one-content #success-stories #story-container ul li {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

#story-container .story-item {
  display: flex;
  margin-bottom: 1em;
}
#story-container .story-item p {
  margin-left: 2%;
}
#story-container .story-item h3,p {
  margin: 0;
  padding: 0;
  margin: 0.5em;
  margin-left: 2%;
}

#story-container .story-item h3 {
  text-align: left;
  font-size: 1.4em;
  letter-spacing: 1px;
}
#story-container .story-item p {
  font-family: 'Open Sans', sans-serif;
  max-height: 100%;
}

#one-content #footer {
  display: flex;
  padding: 2em;
  justify-content: center;
  background-color: #d4d8d8;
  background: url('res/pink-dust.png') fixed;
}
#one-content #footer .social-item {
  display: flex;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
  cursor: pointer;
}

#one-content #footer .social-item img {
  width: 3em;
  height: 3em;
}


#one-content #about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
  padding-left: 5em;
  padding-right: 5em;
  align-items: center
}
#one-content #about h1 {
  text-align: left;
  width: 100%;
  max-width: 1400px;
  margin-top: 0;
  margin: 0;
  font-size: 2.5em;
}
#one-content #desc {
  margin-bottom: 2em !important;
}
#one-content #about .bullet-item {
  margin-bottom: 1.5em;
  align-items: center;
}
#one-content #about .bullet-item p {
  font-size: 1.2em;
  margin-top: 0 !important;
  margin-bottom: 0.5em;
}
#one-content #about .bullet-item img {
  width: 2.5em;
  height: 2.5em;
}
#one-content #about #about-info {
  display: flex;
  margin: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-width: 1400px;
}
#one-content #about #about-info img {
  padding: 0;
  margin: 0;
  max-width: 25%;
  margin-right: 1em;
  align-self: center
}
#one-content #about #about-info h3 {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
}
#one-content #about #about-info p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.5em;
  margin-bottom: 1em;
}


#two-content {
  background-color: #F5F5F5;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
}

#two-content h1 {
  font-size: 3em;
  color: #DB0A5B;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 0.5em;
}



#two-content #program-container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  font-family: 'Open Sans', sans-serif;
}

#two-content #program-container .program {
  flex-grow: 1;
  padding: 2em;
  background-color: #dcdcdc;
  margin-bottom: 2em;
}


#two-content #program-container .program .more-info {
  display: flex;
}

.program h2, p {
  margin: 0;
  padding: 0;
}

.program h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #DB0A5B;
}

.program p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.program h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.program ul {
  margin: 0;
  line-height: 1.5;
}

.program .program-desc-box {
  margin-top: 1em;
  margin-bottom: 1em;
  flex-grow: 1;
  flex-basis: 0;
}
.program .program-desc-box:nth-child(1) {
  margin-right: 1em;
}
.program .program-desc-box:nth-child(2) {
  margin-left: 1em;
}

.program #buy-button-container {
  display: flex;
  justify-content: flex-end;
}
.program .pricing-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba( 219,10,91, 0.5 );
  box-shadow: 0 8px 6px -6px rgba(210,10,91,0.3);
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
  transition: 0.2s;
}
#two-content .program .pricing-button:hover {
  /*box-shadow: 0 10px 12px -3px rgba(210,10,91,0.5);*/
}

.program .pricing-button img {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
}

#two-content .program .pricing-button span {
  font-size: 1.2em;
  margin: 0;
}
#two-content .program .pricing-button h2 {
  font-family: 'Josefin Sans', sans-serif;
}
#two-content .program .pricing-button h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#four-content {
  background-color: #F5F5F5;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
}

#four-content #contact-container {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-container .col {
  align-items: center;
}

#four-content #contact-container h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
  color: #DB0A5B;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  margin-left: 7%;
}
#four-content #contact-container p {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 7%;
  margin-right: 7%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

#four-content #contact-container img {
  width: 375px;
  height: auto;
}

#four-content #contact-container #top-input-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
}

#four-content #contact-container #top-input-container .input-container {
  flex-grow: 1;
}
#four-content #contact-container label {
   width: 100%;
   font-size: 1.2em;
   font-family: 'Josefin Sans', sans-serif;
   color: #DB0A5B;
}

#four-content #contact-container #top-input-container .input-container input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  font-family: 'Open Sans', sans-serif;
}
#four-content #contact-container #top-input-container .input-container input:focus {
  border: 3px solid #DB0A5B;
}


#four-content #contact-container #top-input-container .input-container:nth-child(1) {
  margin-left: 7%;
  margin-right: 2%;
}

#four-content #contact-container #top-input-container .input-container:nth-child(2) {
  margin-right: 7%;
  margin-left: 2%;
}

#four-content #contact-container #message-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
}

#four-content #contact-container #message-container textarea {
  width: 100%;
  height: 8em;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}
#four-content #contact-container #message-container textarea:focus {
  border: 3px solid #DB0A5B;
}
#four-content #contact-container #send {
  padding: 1em;
  margin-top: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  border: 3px solid #DB0A5B;
  align-self: flex-end;
  margin-right: 7%;
  transition: 0.2s;
  cursor: pointer;
}
#four-content #contact-container #send:hover {
  background-color: rgba( 219,10,91, 0.2 );
}
