@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: black;
  background-color:  #95a5a6;
}

h3 {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

nav h3:nth-child(4) {
  margin-right: 4em;
}

section {
  padding: 3em;
  transition: 1s;
  display: flex;
}

.section-gone {
  display: none;
}

.nav-current {
  color: #DB0A5B;
}


.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

#one-content {
  flex-direction: column;
  background-color: #ecf0f1;
  padding: 0;
}

#bg-wrap::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
#one-content #bg-wrap {
  position: relative;
  /*
  background: url( 'res/bg-one.jpeg' ) no-repeat center center fixed;
  */
  background: url( "res/bg-two.jpeg" ) no-repeat center center fixed;
  z-index: 5000;
  padding: 3em;
}

#one-content h1 {
  text-align: center;
  font-size: 3em;
  color: #DB0A5B;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}
#one-content .home-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  padding: 4em;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #ecf0f1;
}
#one-content .home-item:nth-child(1) {
  align-items: flex-end;
}
#one-content .home-item:nth-child(2) {
  align-items: flex-start;
}
#one-content .home-item h2,h4 {
  text-align: center;
  margin: 0;
}
#one-content .home-item .wrap {
  background-color: rgba(219, 10, 91, 0.4);
  padding: 2em;
  display: flex;
  width: 60%;
  height: 30%;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: 0.2s;
}
#one-content .home-item .wrap:hover {
  border: 3px solid #ecf0f1;
  background-color: rgba(219, 10, 91, 0.8);
}

#one-content #success-stories {
  padding: 3em;
}
#one-content #success-stories #story-container {

}
#one-content #success-stories #story-container ul {
  list-style: none;
  display: flex;
}
#one-content #success-stories #story-container ul li {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

#story-container .story-item {
  display: flex;
  width: 85%;
  margin-bottom: 1em;
}
#story-container .story-item h3,p {
  margin: 0;
  padding: 0;
  margin: 0.5em;
}
#story-container ul {
  display: flex;
  width: 100%;
  text-align: center;
}
#story-container .story-item h3 {
  text-align: left;
  font-size: 1.4em;
}
#story-container .story-item p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

#one-content #footer {
  display: flex;
  background-color: #95a5a6;
  padding: 2em;
  justify-content: center;
}
#one-content #footer .social-item {
  display: flex;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

#one-content #footer .social-item img {
  width: 3em;
  height: 3em;
}

#two-content {
  flex-direction: column;
}

#program-container::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
#program-container {
  z-index: 5000;
  position: relative;
  margin: 0;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  background: url('https://static.pexels.com/photos/19936/breakfast-orange-lemon-oranges.jpg') no-repeat center center fixed;
}

#program-container h1 {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  padding: 0;
  color: #DB0A5B;
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

#program-container h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #DB0A5B;
}
#program-container p {
  font-family: 'Open Sans', sans-serif;
  color: #ecf0f1;
  font-size: 1.2em;
}

#program-container {
  display: flex;
  flex-direction: column;
}
#program-container .program {
  margin-bottom: 4em;
}

#three-content {
  background-color: teal;
}

#four-content {
  background-color: grey;
}
