#about-info {
  flex-direction: column;
}
#about-info .col {
  margin-top: 2em;
}

h1 {
  text-align: center !important;
}

#two-content #program-container {
  flex-direction: column;
}

#two-content #program-container .program .more-info {
  flex-direction: column;
}
